  <app-logout></app-logout>

<header class="max-w-5xl mx-auto bg-stone-400 text-amber-500 p-4 rounded-lg shadow-lg flex items-center space-x-6 mt-6">
   
  <div class="bg-amber-300 p-3 rounded-xl shadow-md flex items-center justify-center">
    <img src="/img/turnstile.png" alt="Turnstile Logo" class="h-12 w-12" height="512" width="512">
  </div>

  <div class="bg-amber-300 text-black px-6 py-3 rounded-xl shadow-md flex-1">
    <h1 class="text-xl font-semibold">Welcome to Turnstile Management</h1>
    <p>Manage all the entries inside your office</p>
  </div>
</header>
