

<app-header></app-header>
<app-nav-bar></app-nav-bar>

<div class="container py-3">

  <!-- Header -->
  <div class="row mb-4">
    <div class="col-12 bg-info bg-opacity-25 p-4 text-center">
      <h1 class="fw-bold h1">Turnstile Management App</h1>
      <p class="fw-bold h3">Control access and monitor turnstile activity</p>
    </div>
  </div>

  <!-- Main Content -->
  <div class="row h-100">
    
    <!-- Form Section -->
    <div class="col-12 col-md-6">
      <div class="bg-white border p-4 rounded h-100 d-flex flex-column justify-content-center">
        <form [formGroup]="checkoutForm">
          
          <div class="mb-3">
            <label class="form-label">Insert your Badge</label>
            <input formControlName="badgeId" type="text" class="form-control" placeholder="Your Badge ID" />
          </div>

          <div class="mb-3">
            <label class="form-label">Choose the turnstile you want to use</label>
            <input formControlName="turnstileId" type="text" class="form-control" placeholder="Turnstile ID" />
          </div>

          <div class="d-flex justify-content-between gap-2">
            <button [disabled]="!checkoutForm.valid" (click)="onSubmit('enter')" 
                    class="btn btn-info btn-lg w-100">
              Enter
            </button>
            <button [disabled]="!checkoutForm.valid" (click)="onSubmit('exit')" 
                    class="btn btn-info btn-lg w-100">
              Exit
            </button>
          </div>

        </form>
      </div>
    </div>

    <!-- Info Section -->
    <div class="col-12 col-md-6 ">
      <div class="bg-white p-4 rounded h-100 d-flex flex-column justify-content-center">
        <p class="text-center mb-3">
          Last Time someone entered: <strong>{{lastEntry }} </strong>
        </p>
        <p class="text-center">
          Transaction message: <strong>{{msgStatus}}</strong>
        </p>
      </div>
    </div>

  </div>
</div>
