<div class="overflow-x-auto w-full">
  <table class="border-4 table-fixed w-full h-full">
    <thead class="sticky top-0 ">
    <tr class="bg-amber-100">
      <th class="w-[7%] border px-4 py-2 ">User Type</th>
      <th class="w-[7%] border px-4 py-2">Name</th>
      <th class="w-[7%] border px-4 py-2">Surname</th>
      <th class="w-[15%] border px-4 py-2">Email</th>
      <th class="w-[5%] border px-4 py-2">Role Level</th>
      <th class="border px-4 py-2">Role Description</th>
      <th class="border px-4 py-2">Company Name</th>
      <th class="border px-4 py-2">Company Address</th>
      <th class="w-[7%] border px-4 py-2">Enter Time</th>
      <th class="w-[7%] border px-4 py-2">Exit Time</th>
      <th class="w-[7%] border px-4 py-2">Badge Expiry Date</th>
      <th class="border px-4 py-2">Badge RFID</th>
    </tr>
    </thead>
    <tbody class="text-center">
    <tr *ngFor="let userDTO of userDTOArray" class="hover:bg-amber-50">
      <td class="text-center border px-4 py-2">{{ userDTO.usertype }}</td>
      <td class="text-center border px-4 py-2">{{ userDTO.name }}</td>
      <td class="text-center border px-4 py-2">{{ userDTO.surname }}</td>
      <td class="text-center border px-4 py-2">{{ userDTO.email }}</td>
      <td class="text-center border px-4 py-2">{{ userDTO.role.level }}</td>
      <td class="text-center border px-4 py-2">{{ userDTO.role.description }}</td>
      <td class="text-center border px-4 py-2">{{ userDTO.company.name }}</td>
      <td class="text-center border px-4 py-2">{{ userDTO.company.address }}</td>
      <td class="text-center border px-4 py-2">{{ userDTO.badge.allowed_enter_time }}</td>
      <td class="text-center border px-4 py-2">{{ userDTO.badge.allowed_exit_time }}</td>
      <td class="text-center border px-4 py-2">{{ userDTO.badge.expiry }}</td>
      <td class="text-center border px-4 py-2">{{ userDTO.badge.rfid }}</td>
    </tr>
    </tbody>
  </table>
</div>
