<ul class="d-flex flex-column h-100 gap-2 list-unstyled">
  <li *ngFor="let item of additionFilters; index as i">
    <a 
      (click)="applyFilter(item)"
      [ngClass]="{
        'active-nav-item': selectedItem === item,
        'btn': true,
        'mb-3': true,
        'py-3': true,
        'w-100': true,
        'text-lg': true,
        'border': true,
        'border-info': true,
        'bg-opacity-25': true,
        'text-dark': true,
        'fw-medium': true,
        'rounded': true
      }">
      <span class="h5">{{ item }}</span>
  </a>
  </li>
</ul>
